.container{
    max-width: 1240px;
    margin: 0px auto;
}
.grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
}

.register {
    background-color: #333333;
    border: none;
    border-radius: 40px;
    padding: 10px 10px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    width: 8.4375rem;
    letter-spacing: 3%;

}

.login {
    padding: 10px 10px;
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 18px;

}