.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footerBackground{
    background-color: #F6F2EBF2;
    text-align: center;
    padding: 30px 0px;
}
.icon-circle{
    background-color: #333333;
    padding: 20px 22px;
    border-radius: 50%;
    margin-top: 20px;
}